@use 'sass:color';

/*!
 * Marp / Marpit Custom CSCS theme.
 *
 * @theme cscs
 * @author Prashanth
 *
 * @auto-scaling true
 * @size 16:9 1920px 1080px
 * @size 4:3 1440px 1080px
 * @size 4K 3840px 2160px
 */

@import 'gaia';

footer {
    position:fixed;
    padding-bottom:65px;
    left:0;
    right:0;
    width: fit-content;
}

section.titlecover {
    text-align: left;
    color: #000;
    padding-top: 600px;
}

table 
{  
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

blockquote
{
  left: 150px;
  width: 1000px;
}

img
{
    margin: auto;
    display: block;
}

pre 
{
  background-color: white;
  border: 1px solid #333;
}

h1      code,
h2      code,
h3      code,
h4      code,
p       code,
li      code,
td      code,
pre     code
{
  background-color: black; /* Will be inverted! */
  filter: invert(100%);
}
