@use 'sass:color';

/*!
 * Marp / Marpit Custom CSCS theme.
 *
 * @theme cscs
 * @author Prashanth
 *
 * @auto-scaling true
 * @size 16:9 1920px 1080px
 * @size 4:3 1440px 1080px
 * @size 4K 3840px 2160px

 * %% Official CSCS Colors
 * %% (from https://confluence.cscs.ch/x/8QCsBQ)
 * %% Reds
 * %% #F09B9B
 * %% #E2001A
 * %% #A60B16
 * %% Greys
 * %% #D1D1D1
 * %% #7B7B7B
 * %% #000000
 */

@import 'gaia';

footer {
    position:fixed;
    padding-bottom:65px;
    left:0;
    right:0;
    width: fit-content;
}

section.titlecover h1 {
    text-align: left;
    color: #000000;
    padding-top: 600px;
}

section.titlesection h1 {
    text-align: left;
    color: #000000;
    padding-top: 380px;
}
